
      
      html, body {
        height: 100%;
        margin: 0;
      }
      
      body {
        font-family: 'Orbitron', sans-serif;
        background-color: rgb(5, 5, 25);
        color: #f9ebed;
        /* Колір іконок #ff0033 - Red */
        text-align: center;
        display: flex;
        flex-direction: column;
      }

      
      /*Статика і анімація як кіберпанк*/ 
      body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        mix-blend-mode: overlay;
      }
      
      .footer {
        position: fixed;
        margin-top: auto;
        text-align: center;
        padding: 0px;
      }

      .logo {
        width: 30%;
        filter: brightness(0) saturate(100%) invert(14%) sepia(83%) saturate(7457%) hue-rotate(343deg) brightness(97%) contrast(108%);
        margin-top: 1%;
      }

      h1 {
        margin-top: auto;
        text-align: center;
        color: #f9ebed;
        text-shadow: 2px 0 #2e000a, -2px 0 #2e000a, 0 2px #2e000a, 0 -2px #2e000a,
               1px 1px #2e000a, -1px -1px #2e000a, 1px -1px #2e000a, -1px 1px #2e000a;
        
      }

      p {
        text-align: center;
        color: #f9ebed;
        text-shadow: 2px 0 #2e000a, -2px 0 #2e000a, 0 2px #2e000a, 0 -2px #2e000a,
               1px 1px #2e000a, -1px -1px #2e000a, 1px -1px #2e000a, -1px 1px #2e000a;
        font-size:30px;
      }

      .all-links {
        gap: 50px;
        list-style: none;
        display: flex;
        padding: 0;
        text-align: baseline;
        justify-content: center;
        
      }

      .all-links li {
        text-align: center;
      }
      
      .all-links img {
        filter: brightness(0) saturate(100%) invert(14%) sepia(83%) saturate(7457%) hue-rotate(343deg) brightness(97%) contrast(108%);
        /*border: 5px solid;*/
        border-color: #2e000a;
        padding: 5px;
        margin: 5px;
        border-radius: 25%;
        
        width: 50px;
        height: 50px;
        
      }

      .all-links li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: #f9ebed;
        text-shadow: 2px 0 #2e000a, -2px 0 #2e000a, 0 2px #2e000a, 0 -2px #2e000a,
               1px 1px #2e000a, -1px -1px #2e000a, 1px -1px #2e000a, -1px 1px #2e000a;
      }

      .ico-youtube, .ico-instagram, .ico-x, .ico-spotify, .ico-applemusic {
        text-decoration: none;
        margin-top: 30px;
      }

      footer {
        margin-top: auto;
        border-bottom: 5px dotted #a3001e;
        margin-bottom: 1%;
      }

      

     

